<div class="container">
  <form action="/run_questionnaire" method=post>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%  @pages.each do |page| %>
    <% page.questions.each do |question| %>
      <div class="row">
        <div class="col-md-auto">
        <p></p>
          <%= question.content %>
        </div>
        <div class="col-md-auto">
        <p></p>
        page <%= page.number %>
        </div>
        <div class="w-100"></div>
        <div class="col-md">       
            <label for="answers"> </label><br>
            <input type="text" class="form-control" name="answers[<%= question.id %>]" placeholder="Type your answer">      
        </div>   
      </div>
    <% end %>
  <% end %>
  <p></p>
  <button type="submit" class="btn btn-info">Submit</button>
  </form>

</div>