<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <p class="font-weight-bold">Name</p>
    </div>
    <div class="col-sm-2">
      <p class="font-weight-bold">Goals count</p>
    </div>
    <div class="col-sm-2">
      <p class="font-weight-bold">Matches played</p>
    </div>
    <div class="col-md-auto">
    </div>
  </div>
</div>